# Python virtual environments
env/
venv/
Systematic/execution/config/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# IDE files (e.g., for VSCode)
.vscode/

# macOS system files
.DS_Store